.product {
  height: 360px;
  position: relative;
  padding: 50px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 500ms ease-out;
  margin-bottom: 30px;
  border: 1px solid #000000; }
  .product:hover .compare_product {
    opacity: 1;
    width: 152px;
    font-size: 15px;
    margin-left: -75px;
    top: 35%;
    transition: all 200ms ease-out; }
  .product img {
    width: 100%; }
  .product .compare_product {
    position: absolute;
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #d80000;
    color: #d80000;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    opacity: 0;
    background: #ffffff;
    transition: all 200ms ease-out; }
